<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <style>
        body {
            padding: 20px;
        }

        .album-header {
            font-weight: bold;
            font-size: 1.2em;
            background-color: #f8f9fa;
        }
    </style>
</head>

<body>
    <h1>List of Songs</h1>

    {% if songs_list %}
    <table class="table">
        <thead>
            <tr>
                <th>Album</th>
                <th>Title</th>
                <th>Artist</th>
            </tr>
        </thead>
        <tbody>
            {% for song in songs_list %}
            <!-- Display album title as a header row only when the album changes or for the first song of each album -->
            {% ifchanged song.album.title %}
            <tr>
                <td class="album-header" colspan="4">{{ song.album.title }}</td>
            </tr>
            {% endifchanged %}
            <tr>
                <td></td>
                <td>{{ song.title }}</td>
                <td>{{ song.artist.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No songs available.</p>
    {% endif %}

    
    {% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'user_auth:logout' %}">Click Here To Log Out</a></p>
    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'user_auth:login' %}">Log In</a>
  {% endif %}
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"
        integrity="sha384-MCw98/SFnGE8fJT3KOqjw8q+O6j/Rt98q0F/DfN4MuhOqnUqG+Vr9I1QI0d9sMr"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
